
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100vw;
    min-height: 100vh;
    background: white;
  }
  
  header{
    width: 100%;
    height: 100px; /* Just an example height */
    background: black;
    
    padding: 15px; /* example padding */
    
    display: flex;
    
    justify-content: between;
    
  }
  
  header > nav {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
  }
  
  header > nav a{
    color: white;
    text-decoration: none;
    font-family: Arial
  }
  
  main{
    width: 100vw;
  }
  
  .video-container{
    width: 100%;
  } 
  
  .video-container video{
    width: 100%;
  }
  .purpose{
    background-color: #eaeaea;
    display: flex;
    height: 315px;
    padding-top: 54px;
    
  }
  .purpose h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: aqua;
  }
  .purpose-header-container {
    width: 100%;
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-left: 213px;
    margin-right: 213px;
    text-align: center;
    
  }

#purpose-header{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 48px;
    color: #35aedd;
    font-weight: 700;
}
